@use "../abstracts/breakpoints" as *;

:root {
	--variable-color: #fe019a;
}
.icon {
	max-width: 28px;
	max-height: 28px;
}
form * {
	appearance: none;
	border: none;
}

#container {
	background-color: var(--tertiary);
}
@include media-3 {
	#container {
		margin-left: 80px;
		transition: 500ms;
	}
	#sidebar.open ~ #container {
		margin-left: 200px;
		transition: 500ms;
	}
}
.bold {
	font-weight: 700;
}
button,
input {
	background-color: var(--secondary);
}
