[color-scheme="cyber"] {
	color-scheme: light;

	--brand: var(--brand-grape);
	--text1: var(--text1-grape);
	--text2: var(--text2-grape);
	--surface1: var(--surface1-grape);
	--surface2: var(--surface2-grape);
	--surface3: var(--surface3-grape);
	--surface4: var(--surface4-grape);
	--surface-shadow: var(--surface-shadow-grape);
	--shadow-strength: var(--shadow-strength-grape);
}
