$color1: #0a0a0a;
$color2: #ffffff;
$color3: #ff4bc3;
$color4: #808080;

$greyFilter: invert(57%) sepia(0%) saturate(480%) hue-rotate(178deg)
	brightness(87%) contrast(87%);
$pinkFilter: invert(56%) sepia(40%) saturate(2153%) hue-rotate(290deg)
	brightness(105%) contrast(101%);
// FF9BAD
