@use "../abstracts/breakpoints" as *;
nav {
	align-items: center;
	display: flex;
	height: 50px;
	border-bottom: 2px solid;
	position: relative;
	top: 25px;
	background-color: var(--secondary);
}
.navItem {
	border-radius: 6px;
	span {
		display: grid;
		place-items: center;
	}
	@include media-3 {
		width: 46px;
		height: 46px;
		&:hover,
		&:focus {
			outline: 2px solid;
			cursor: pointer;
		}
	}
}
// ===
#sidebar {
	@include media-3 {
		display: block;
		border-bottom: 0;
		border-right: 2px solid;
		height: 100vh;
		left: 0;
		overflow: hidden;
		padding: 16px;
		position: absolute;
		position: fixed;
		top: 0;
		transition: 500ms;
		width: 80px;
		ul {
			display: block;
		}
	}
}
// =========================
#navHeader {
	position: absolute;
	display: flex;
	@include media-3 {
		position: relative;
		margin-bottom: 48px;
	}
	#menuBtnContainer {
		display: none;
		@include media-3 {
			display: grid;
			height: 46px;
			place-items: center;
			text-align: center;
			width: 46px;
			border-radius: 6px;
			span {
				font-size: 22px;
				width: 100%;
				height: 100%;
			}
		}
	}
	#logo {
		font-size: 20px;
		font-weight: bold;
		margin: 5px;
		padding: 8.5px;
		border-radius: 6px;
		@include media-3 {
			display: none;
			margin: 0;
			height: 46px;
			font-size: 28px;
		}
	}
}
// =========================
#navMenu {
	display: flex;
	justify-content: end;
	margin: 0 50px;
	width: 100%;
	@include media-2 {
		justify-content: center;
	}
	@include media-3 {
		display: block;
		margin: 0;
	}
	.navItem {
		border-radius: 6px;
		display: flex;
		margin: 5px;
		@include media-3 {
			margin: 8px 0;
		}
		.navBtn {
			display: flex;
			align-items: center;
			@include media-3 {
				width: 100%;
			}
			span {
				height: 40px;
				text-align: center;
				width: 40px;
				@include media-3 {
					height: auto;
				}
				&:first-child {
					font-size: 22px;
					@include media-3 {
						width: 46px;
						height: 46px;
						min-width: 46px;
						margin-right: 5px;
					}
				}
				&:nth-of-type(2) {
					display: none;
					margin-right: 7px;
					width: auto;
					@include media-2 {
						display: flex;
					}
					@include media-3 {
						display: none;
					}
				}
			}
		}
	}
}
// ============================================================================================
#sidebar.open {
	transition: 500ms;
	width: 200px;
	.navItem {
		width: auto;
	}
	#logo {
		display: flex;
	}
	#menuBtnContainer {
		@include media-3 {
			position: absolute;
			right: 0;
		}
	}
	.navItem {
		.navBtn span:nth-of-type(2) {
			display: grid;
			opacity: 1;
		}
	}
	button {
		width: 100%;
		span:nth-of-type(2) {
			display: grid;
			opacity: 1;
		}
	}
	#theme-toggle {
		width: 166px;
	}
}
.hide {
	display: none;
}
