@use "../abstracts/breakpoints" as *;

nav {
	display: flex;
	align-items: center;
	height: 50px;
	border-bottom: 2px solid;
	background-color: var(--secondary);
	position: relative;
	top: 25px;
	.navItem {
		border-radius: 6px;
		span {
			display: grid;
			place-items: center;
		}
		@include media-3 {
			width: 46px;
			height: 46px;
			&:hover,
			&:focus {
				outline: 2px solid;
				cursor: pointer;
			}
		}
	}
}
#navHeader {
	position: absolute;
	display: flex;
	@include media-3 {
		position: relative;
		margin-bottom: 48px;
	}
	#menuBtnContainer {
		display: none;
		@include media-3 {
			display: grid;
			height: 46px;
			width: 46px;
			border-radius: 6px;
			place-items: center;
			text-align: center;
			span {
				font-size: 22px;
				height: 100%;
				width: 100%;
			}
		}
	}
	#logo {
		font-size: 20px;
		font-weight: bold;
		margin: 5px;
		padding: 8.5px;
		border-radius: 6px;
		@include media-3 {
			display: none;
			height: 46px;
			font-size: 28px;
			margin: 0;
		}
	}
}
#navMenu {
	display: flex;
	justify-content: end;
	margin: 0 50px;
	width: 100%;
	@include media-2 {
		justify-content: center;
	}
	@include media-3 {
		display: block;
		margin: 0;
	}
	.navItem {
		border-radius: 6px;
		display: flex;
		margin: 5px;

		@include media-3 {
			margin: 8px 0;
		}
		.navBtn {
			display: flex;
			align-items: center;
			@include media-3 {
				width: 100%;
			}
			span {
				height: 40px;
				width: 40px;
				text-align: center;
				@include media-3 {
					height: auto;
				}
				&:first-child {
					font-size: 22px;

					@include media-3 {
						width: 46px;
						height: 46px;
						min-width: 46px;
						margin-right: 5px;
					}
				}
				&:nth-of-type(2) {
					display: none;
					margin-right: 7px;
					width: auto;
					@include media-2 {
						display: flex;
					}
					@include media-3 {
						display: none;
					}
				}
			}
		}
	}
}

//==========

#sidebar {
	@include media-3 {
		display: block;
		border-right: 2px solid;
		height: 100vh;
		left: 0;
		overflow: hidden;
		padding: 16px;
		position: fixed;
		top: 0;
		transition: 500ms;
		width: 80px;
		border-bottom: none;
		ul {
			display: block;
		}
	}
	&.open {
		transition: 500ms;
		width: 200px;
		.navItem {
			width: auto;
		}
		#logo {
			display: flex;
		}
		#menuBtnContainer {
			@include media-3 {
				position: absolute;
				right: 0;
			}
		}
		.navItem,
		button {
			.navBtn span:nth-of-type(2),
			span:nth-of-type(2) {
				display: grid;
				opacity: 1;
			}
		}
		#theme-toggle {
			width: 166px;
		}
	}
}

.hide {
	display: none;
}
