@use "../abstracts/breakpoints" as *;
#themeContainer {
	position: absolute;
	right: 0;
	@include media-3 {
		bottom: 0;
		right: auto;
	}
}
#themeContainer {
	display: flex;
	margin: 5px;
	@include media-3 {
		margin: 8px 0;
		width: 166px;
	}
	button {
		display: flex;
		border-radius: 6px;
		@include media-3 {
			width: 100%;
		}
		span {
			display: grid;
			height: 40px;
			place-items: center;
			text-align: center;
			width: 40px;
			@include media-3 {
				height: auto;
			}
			&:first-child {
				font-size: 22px;
				@include media-3 {
					font-size: 28px;
					width: 48px;
					height: 48px;
				}
			}
			&:nth-of-type(2) {
				display: none;
				margin-right: 7px;
				width: auto;
				@include media-2 {
					display: flex;
				}
				@include media-3 {
					display: none;
				}
			}
		}
		&:hover {
			outline: 2px solid;
		}
	}
}