#themeContainer {
	position: absolute;
	bottom: var(--size-3);
}
#themeSwitch {
	display: flex;
	div {
		border: 1px solid red;
		&:first-of-type {
			label {
				margin-right: var(--size-2);
			}
		}
		label {
			width: var(--size-8);
			display: block;
			height: var(--size-8);
			border: 1px solid;
		}
	}
}
