#search {
	display: grid;
	justify-content: center;
	margin-inline: auto;
}
#webSearch {
	display: flex;
	height: var(--size-8);
	justify-content: center;
	margin-top: 5%;
	outline: 1px solid var(--gray-5);
	border-radius: var(--radius-2);
	#searchEngines {
		border-right: 1px solid var(--gray-5);
		width: var(--size-12);
		appearance: none;
		background-color: var(--gray-2);
	}
	#searchBar {
		width: var(--size-14);
		border-radius: 0;
	}
	#searchBtn {
		width: var(--size-8);
		height: var(--size-8);
		background-color: var(--gray-2);
		border-left: 1px solid var(--gray-5);
		border-radius: 0 var(--radius-2) var(--radius-2) 0;
		display: grid;
		place-items: center;
		img {
			max-height: var(--size-6);
			max-width: var(--size-6);
		}
	}
	#searchEngines,
	#searchBtn {
		text-align: center;
	}
}
