@use "base/reset";
@use "vendors/open-props";
@use "themes";
@use "layout";
@use "components";
@use "pages";

/* 
:root {
	--pink: hsl(325, 100%, 80%);
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
}
input:focus {
	outline: none;
}
#searchContainer {
	display: grid;
	place-items: center;
}
form {
	display: flex;
	justify-content: center;
	margin-top: 5%;
	outline: 1px solid var(--black);
	width: 650px;
}
#searchBar,
#searchBtn,
#searchEngines {
	padding: 10px;
	font-size: 18px;
	border: 0;
	background-color: var(--white);
	color: var(--black);
}
#searchEngines,
#searchBtn {
	text-align: center;
}
#searchEngines {
	border-right: 1px solid var(--black);
	width: 150px;
	appearance: none;
}
#searchEngines:hover {
	color: var(--pink);
}
#searchBar {
	width: 400px;
}
#searchBtn {
	width: 100px;
	border-left: 1px solid var(--black);
}
#searchBtn:hover,
#searchBtn:focus {
	color: var(--pink);
}
option {
	color: #fff;
}
*/
