body {
	font-family: var(--font-sans);
	font-size: var(--font-size-2);
	background-image: var(--surface4);
}
#container {
	width: calc(100% - var(--size-10));
	height: 100vh;
	margin-left: auto;
	transition: 500ms var(--ease-squish-1);
}
#sidebar.open ~ #container {
	left: var(--size-13);
	width: calc(100% - var(--size-13));
	transition: 500ms var(--ease-squish-1);
}
#main {
	height: 50%;
	display: grid;
	place-items: center;
}
.container {
	width: min(100% - 2rem, 50rem);
	margin-inline: auto;
	display: grid;
	place-items: center;
}
