html {
	/* sunset */
	--brand-light: var(--pink-5);
	--text1-light: var(--gray-9);
	--text2-light: var(--gray-7);
	--text3-light: var(--gray-0);
	--surface3-light: var(--pink-1);
	--surface2-light: var(--yellow-1);
	--surface1-light: var(--violet-1);
	--surface4-light: var(--gradient-15);
	--surface-shadow-light: 200 10% 20%;
	--shadow-strength-light: 2%;

	/* royal */
	--brand-dark: var(--pink-3);
	--text1-dark: var(--gray-1);
	--text2-dark: var(--gray-3);
	--surface1-dark: var(--gray-9);
	--surface2-dark: var(--gray-8);
	--surface3-dark: var(--gray-7);
	--surface4-dark: var(--gradient-16);
	--surface-shadow-dark: 200 50% 3%;
	--shadow-strength-dark: 80%;

	/* cyber */
	--brand-grape: var(--grape-5);
	--text1-grape: var(--grape-9);
	--text2-grape: var(--grape-7);
	--surface1-grape: var(--grape-0);
	--surface2-grape: var(--grape-1);
	--surface3-grape: var(--grape-2);
	--surface4-grape: var(--gradient-16);
	--surface-shadow-grape: 288 30% 20%;
	--shadow-strength-grape: 2%;
}
